protocol/src/main/resources/xsd/DocumentStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="DocumentStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Id" type="xs:int"/>
                <xs:element name="Status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>