protocol/src/main/resources/xsd/User.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="User">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Id" type="xs:int"/>
                <xs:element name="Name" type="xs:string"/>
                <xs:element name="FullName" type="xs:string"/>
                <xs:element name="OrganizationId" type="xs:int"/>
                <xs:element name="RoleId" type="xs:int"/>
                <xs:element name="Password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>